main {
  height: 86vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main > div {
  height: 50vh;
  width: 50vh;
  margin: 10px;
  padding: 30px;
  border: 2px solid rgba(153, 153, 153, 0.75);
  opacity: .75;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div form {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

main > div form div {
  color: inherit;
  width: 100%;
  height: 8.5vh;
  position: relative;
}

main > div form div label {
  position: absolute;
  color: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5vh;
  pointer-events: none;
}

main > div form div label:not(#checkboxLabel) {
  border-bottom: 1px solid #777;
}

main > div form div label:not(#checkboxLabel)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6.5vh;
  left: 0;
  opacity: 0;
  border-bottom: 1px solid #3ad1fe;
}

main > div form div label span {
  position: absolute;
  color: inherit;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

main > div form input:focus + label > span:not(#checkboxSpan), main > div form input:valid + label > span:not(#checkboxSpan) {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 0.75em;
  color: #3ad1fe;
}

main > div form input:focus + label:not(#checkboxLabel)::after, main > div form input:valid + label:not(#checkboxLabel)::after {
  opacity: 1;
}

main > div form #remember input:checked + label > span {
  color: #3ad1fe;
}

main > div form #remember input:checked + label::after {
  opacity: 1;
}

main > div form input[type="checkbox"] {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  top: 2vh;
  width: 3.5vh;
  height: 3.5vh;
  position: relative;
  left: calc(100% - 4vh - 2px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(58, 209, 254, 0);
  border: 2px solid #3ad1fe;
  border-radius: 10%;
}

main > div form input[type="checkbox"]:hover {
  cursor: pointer;
  background-color: rgba(58, 209, 254, 0.75);
}

main > div form input[type="checkbox"]:checked {
  background-color: #3ad1fe;
}

main > div form input, main > div form button {
  color: inherit;
  font-size: 1em;
  background: transparent;
  height: 8vh;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  border: none;
  outline: none;
}

main > div form #submit {
  background-color: #3ad1fe;
  opacity: .75;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

main > div form #submit * {
  color: white;
  font-weight: 600;
}

main > div form #submit:hover {
  opacity: 1;
}

main > div form #submit:hover * {
  cursor: pointer;
}

main > div h1 {
  opacity: 1;
  padding-bottom: 10px;
}
/*# sourceMappingURL=login.css.map */