body {
    overflow-y: hidden;
}
main {
    background-color: inherit;
    #landing {
        position: absolute;
        z-index: 3;
        background-color: inherit;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        top: 0;
        left: 0;
        transition: opacity 500ms ease-in;
    }
    display: grid;
    grid-template-areas:
        "intro"
        "explanation"
        "benefit"
        "join";
    grid-template-columns: 100vw;
    grid-template-rows: 107vh 116vh 116vh 95vh;
    #intro {
        grid-area: intro;
        display: grid;
        grid-template-areas:
            ". . ."
            ". title ."
            ". arrow ."
            ". . .";
        grid-template-columns: 2fr 14fr 2fr;
        grid-template-rows: 6fr 75fr 10fr 16fr;
        color: inherit;
        #title {
            grid-area: title;
            display: grid;
            grid-template-areas:
                "text1 text1 text1 text1 text1"
                "carousel carousel carousel carousel carousel"
                "text2 text2 text2 text2 text2";
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr 2fr 1fr;
            color: inherit;
            h1 {
                pointer-events: none;
                transition: transform 1500ms ease-out, opacity 3000ms ease-out;
                vertical-align: middle;
                text-align: center;
                opacity: 0;
                color: inherit;
                width: fit-content;
            }
            #carousel {
                grid-area: carousel;
                display: inline-grid;
                grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3 circle3 mcircle4 circle4 mcircle5";
                grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
                align-items: center;
                justify-items: center;
                text-align: center;
                padding: 0;
                opacity: 0;
                transition: transform 1s ease-out, opacity 1s ease-in;
                .circle {
                    height: 22.5vh;
                    width: 22.5vh;
                    border: 2px solid black;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    cursor: pointer;
                    transition: transform 350ms ease-in-out,
                        opacity 350ms ease-in-out;
                    transform: translateX(0);
                    &:hover {
                        transform: scale(1.075);
                    }
                    span {
                        font-size: 4vh;
                        opacity: 0.75;
                    }
                    .time {
                        font-size: 2.5vh;
                        opacity: 0.5;
                    }
                    &#circle1 {
                        grid-area: circle1;
                    }
                    &#circle2 {
                        grid-area: circle2;
                    }
                    &#circle3 {
                        grid-area: circle3;
                    }
                    &#circle4 {
                        grid-area: circle4;
                    }
                    &#circle5 {
                        grid-area: circle4;
                        transform: translateX(
                                calc((14 / 18) * (6 / 25) * 100vw)
                            )
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                }
                .mcircle {
                    height: 2vh;
                    width: 2vh;
                    border: 2px solid black;
                    border-radius: 50%;
                    transition: transform 350ms ease-in-out,
                        opacity 350ms ease-in-out;
                    &#mcircle1 {
                        grid-area: mcircle1;
                    }
                    &#mcircle2 {
                        grid-area: mcircle2;
                    }
                    &#mcircle3 {
                        grid-area: mcircle3;
                    }
                    &#mcircle4 {
                        grid-area: mcircle4;
                    }
                    &#mcircle5 {
                        grid-area: mcircle5;
                    }
                    &#mcircle6 {
                        grid-area: mcircle5;
                        transform: translateX(
                                calc((14 / 18) * (6 / 25) * 100vw)
                            )
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                }
            }
            #text1 {
                grid-area: text1;
                transform: translateX(15vw);
            }
            #text2 {
                grid-area: text2;
                justify-self: right;
            }
        }
        #arrow {
            grid-area: arrow;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            justify-self: center;
            align-self: center;
            width: 25%;
            height: 10vh;
            &:hover {
                #down {
                    transform: translateY(0.75vh);
                    opacity: 1 !important;
                }
            }
            #down {
                transition: transform 200ms ease-in-out,
                    opacity 200ms ease-in-out;
                transform: translateY(-0.25vh);
                opacity: 0;
                height: 5vh;
                pointer-events: none;
            }
        }
        @media only screen and (min-width: 768px) and (max-width: 1068px) {
            #title #carousel {
                grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3 circle3 mcircle4";
                grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
                .circle {
                    &#circle1 {
                        grid-area: circle1;
                    }
                    &#circle2 {
                        grid-area: circle2;
                    }
                    &#circle3 {
                        grid-area: circle3;
                    }
                    &#circle4 {
                        grid-area: circle3;
                        transform: translateX(
                                calc((14 / 18) * (6 / 19) * 100vw)
                            )
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                    &#circle5 {
                        display: none;
                    }
                }
                .mcircle {
                    &#mcircle1 {
                        grid-area: mcircle1;
                    }
                    &#mcircle2 {
                        grid-area: mcircle2;
                    }
                    &#mcircle3 {
                        grid-area: mcircle3;
                    }
                    &#mcircle4 {
                        grid-area: mcircle4;
                    }
                    &#mcircle5 {
                        grid-area: mcircle4;
                        transform: translateX(
                                calc((14 / 18) * (6 / 19) * 100vw)
                            )
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                    &#mcircle6 {
                        display: none;
                    }
                }
            }
        }
        @media only screen and (min-width: 540px) and (max-width: 767px) {
            #title #carousel {
                grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3";
                grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
                .circle {
                    &#circle1 {
                        grid-area: circle1;
                    }
                    &#circle2 {
                        grid-area: circle2;
                    }
                    &#circle3 {
                        grid-area: circle2;
                        transform: translateX(
                                calc((14 / 18) * (6 / 13) * 100vw)
                            )
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                    &#circle4 {
                        display: none;
                    }
                    &#circle5 {
                        display: none;
                    }
                }
                .mcircle {
                    &#mcircle1 {
                        grid-area: mcircle1;
                    }
                    &#mcircle2 {
                        grid-area: mcircle2;
                    }
                    &#mcircle3 {
                        grid-area: mcircle3;
                    }
                    &#mcircle4 {
                        grid-area: mcircle3;
                        transform: translateX(
                                calc((14 / 18) * (6 / 13) * 100vw)
                            )
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                    &#mcircle5 {
                        display: none;
                    }
                    &#mcircle6 {
                        display: none;
                    }
                }
            }
        }
        @media only screen and (max-width: 539px) {
            #title #carousel {
                grid-template-areas: "mcircle1 circle1 mcircle2";
                grid-template-columns: 1fr 5fr 1fr;
                .circle {
                    &#circle1 {
                        grid-area: circle1;
                    }
                    &#circle2 {
                        grid-area: circle1;
                        transform: translateX(calc((14 / 18) * (6 / 7) * 100vw))
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                    &#circle3 {
                        display: none;
                    }
                    &#circle4 {
                        display: none;
                    }
                    &#circle5 {
                        display: none;
                    }
                }
                .mcircle {
                    &#mcircle1 {
                        grid-area: mcircle1;
                    }
                    &#mcircle2 {
                        grid-area: mcircle2;
                    }
                    &#mcircle3 {
                        grid-area: mcircle2;
                        transform: translateX(calc((14 / 18) * (6 / 7) * 100vw))
                            scale(0.1);
                        opacity: 0;
                        display: none;
                    }
                    &#mcircle4 {
                        display: none;
                    }
                    &#mcircle5 {
                        display: none;
                    }
                    &#mcircle6 {
                        display: none;
                    }
                }
            }
        }
    }
    #explanation {
        grid-area: explanation;
        display: grid;
        grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals . . ."
            ". branch1 branch1 branch1 . task1 . task2 . task3 . task4 ."
            ". merged merged merged . branch2 branch2 branch2 . task5 . task6 ."
            ". . . . . . . . . . . . .";
        grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
        grid-template-rows: 9fr 11fr 40fr 40fr 16fr;
        #lifegoals {
            grid-area: lifegoals;
            background-color: #88ffb4;
        }
        #branch1 {
            grid-area: branch1;
            background-color: #ff88e3;
        }
        #task1 {
            grid-area: task1;
            background-color: #fff588;
        }
        #task2 {
            grid-area: task2;
            background-color: #ffcf88;
        }
        #task3 {
            grid-area: task3;
            background-color: #ff9a88;
        }
        #task4 {
            grid-area: task4;
            background-color: #9c88ff;
        }
        #merged {
            grid-area: merged;
            background-color: #88fdff;
        }
        #branch2 {
            grid-area: branch2;
            background-color: #c388ff;
        }
        #task5 {
            grid-area: task5;
            background-color: #ff8888;
        }
        #task6 {
            grid-area: task6;
            background-color: #92ff88;
        }
    }
    #benefit {
        grid-area: benefit;
        display: grid;
        grid-template-areas:
            ". . . . . . ."
            ". . . focus . . ."
            ". previous . task . next ."
            ". . . . . . .";
        grid-template-columns: 1fr 2fr 1fr 12fr 1fr 2fr 1fr;
        grid-template-rows: 9fr 11fr 80fr 16fr;
        #focus {
            grid-area: focus;
            background-color: #ffcf88;
        }
        #previous {
            grid-area: previous;
            background-color: #88ffb8;
        }
        #task {
            grid-area: task;
            background-color: #bf88ff;
        }
        #next {
            grid-area: next;
            background-color: #ff8888;
        }
    }
    #join {
        grid-area: join;
        display: grid;
        grid-template-areas:
            ". . . . ."
            ". message message message ."
            ". register or login ."
            ". . . . .";
        grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
        grid-template-rows: 9fr 11fr 70fr 5fr;
        #message {
            grid-area: message;
            background-color: #ffcf88;
        }
        #register {
            grid-area: register;
            background-color: #88ffb8;
        }
        #or {
            grid-area: or;
            background-color: #bf88ff;
        }
        #login {
            grid-area: login;
            background-color: #ff8888;
        }
    }
}
