body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  overflow-x: hidden;
  background-color: #fff;
}

main {
  height: 100%;
}

h1 {
  font-weight: 600;
  font-size: 5vh;
}

h2 {
  font-weight: 500;
  font-size: 4vh;
}

h3 {
  font-weight: 400;
  font-size: 3vh;
  color: #999;
  opacity: 0.5;
}

h4 {
  font-weight: 300;
  font-size: 2.5vh;
  color: #999;
  opacity: 0.5;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  height: 9vh;
  -ms-grid-columns: 6fr 12fr 3fr 3fr 3fr 2fr;
      grid-template-columns: 6fr 12fr 3fr 3fr 3fr 2fr;
      grid-template-areas: "logo . about register login settings" ". . . . dropdown dropdown";
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}

header * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a h3 {
  -webkit-transition: opacity 150ms ease-in;
  transition: opacity 150ms ease-in;
}

header a:hover h3 {
  opacity: 1;
}

header a::after {
  content: "";
  -webkit-transition: opacity 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: opacity 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: opacity 150ms ease-in, transform 150ms ease-in;
  transition: opacity 150ms ease-in, transform 150ms ease-in, -webkit-transform 150ms ease-in;
  height: 0.09vh;
  -webkit-transform: translateY(-0.375vh);
          transform: translateY(-0.375vh);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: stretch;
  width: calc(3 / 29 * 100vw);
  background: #3ad1fe;
}

header a#logo::after {
  position: absolute;
  width: calc(4 / 29 * 100vw);
}

header a:hover::after {
  opacity: 1;
  -webkit-transform: scaleY(2.5) translateY(-0.35vh);
          transform: scaleY(2.5) translateY(-0.35vh);
}

header #logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

header #logo * {
  display: initial;
  visibility: visible;
  opacity: 1;
  height: 7vh;
  width: auto;
}

header #about {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: about;
}

header #register {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: register;
}

header #login {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: login;
}

header object,
header .label {
  pointer-events: none;
}

header object,
header .label,
header .container {
  display: none;
  visibility: hidden;
  opacity: 0;
}

header #settingicon {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: settings;
  color: #999;
}

header #settingicon #bars {
  display: initial;
  visibility: visible;
}

header #settingicon object {
  -webkit-transition: opacity 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: opacity 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: opacity 150ms ease-in, transform 150ms ease-in;
  transition: opacity 150ms ease-in, transform 150ms ease-in, -webkit-transform 150ms ease-in;
  color: #999;
  opacity: 0.5;
  height: 4vh;
  width: calc(2 / 29 * 100vw);
}

header #icons {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: dropdown;
  -webkit-transform: translateY(-0.45vh);
          transform: translateY(-0.45vh);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-0.1vh);
          transform: translateY(-0.1vh);
  outline: 1px solid rgba(153, 153, 153, 0.25);
  -webkit-box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
  height: 6vh;
  width: calc(5 / 29 * 100vw);
  -webkit-transition: opacity 150ms ease-in, -webkit-transform 100ms ease-in;
  transition: opacity 150ms ease-in, -webkit-transform 100ms ease-in;
  transition: opacity 150ms ease-in, transform 100ms ease-in;
  transition: opacity 150ms ease-in, transform 100ms ease-in, -webkit-transform 100ms ease-in;
  background-color: #fff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container * {
  -webkit-transition: opacity 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: opacity 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: opacity 150ms ease-in, transform 150ms ease-in;
  transition: opacity 150ms ease-in, transform 150ms ease-in, -webkit-transform 150ms ease-in;
  display: initial;
  visibility: visible;
  color: #999;
  opacity: 0.5;
}

header .container object {
  height: 3vh;
  width: auto;
}

header #settingicon:hover {
  cursor: pointer;
}

header #settingicon:hover object {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .container:hover {
  cursor: pointer;
}

header .container:hover * {
  opacity: 1;
}

@media only screen and (min-width: 1280px) {
  header {
    -ms-grid-columns: 6fr 20fr 3fr 3fr 3fr 2fr;
        grid-template-columns: 6fr 20fr 3fr 3fr 3fr 2fr;
  }
  header a::after {
    width: calc(3 / 37 * 100vw);
  }
  header a#logo::after {
    width: calc(4 / 37 * 100vw);
  }
  header #settingicon object {
    width: calc(2 / 37 * 100vw);
  }
  header .container {
    width: calc(5 / 37 * 100vw);
    outline: 1px solid rgba(153, 153, 153, 0.25);
    -webkit-box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
            box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
  }
  header #about,
  header #register,
  header #login {
    display: inherit !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  header {
    -ms-grid-columns: 6fr 8fr 3fr 3fr 3fr 2fr;
        grid-template-columns: 6fr 8fr 3fr 3fr 3fr 2fr;
  }
  header a::after {
    width: calc(3 / 25 * 100vw);
  }
  header a#logo::after {
    width: calc(4 / 25 * 100vw);
  }
  header #settingicon object {
    width: calc(2 / 25 * 100vw);
  }
  header .container {
    width: calc(5 / 25 * 100vw);
    outline: 1px solid rgba(153, 153, 153, 0.25);
    -webkit-box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
            box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
  }
  header #about,
  header #register,
  header #login {
    display: inherit !important;
  }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {
  header {
    -ms-grid-columns: 6fr 3fr 3fr 3fr 3fr 2fr;
        grid-template-columns: 6fr 3fr 3fr 3fr 3fr 2fr;
        grid-template-areas: "logo . about register login settings" ". . dropdown dropdown dropdown dropdown";
  }
  header a:not(#logo)::after {
    width: calc(3 / 20 * 100vw) !important;
  }
  header a#logo::after {
    width: calc(5 / 20 * 100vw);
  }
  header #settingicon object {
    width: calc(2 / 20 * 100vw);
  }
  header #about,
  header #register,
  header #login {
    display: inherit !important;
  }
  header #logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header #about {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: about;
  }
  header #register {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: register;
  }
  header #login {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: login;
  }
  header #settingicon {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: settings;
  }
  header #icons {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: dropdown;
  }
  header .container {
    height: 6vh;
    width: calc(11 / 20 * 100vw);
    outline: 1px solid rgba(153, 153, 153, 0.25);
    -webkit-box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
            box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.5);
  }
  header .container h4 {
    font-size: 3vh;
  }
  header .container object {
    height: 3vh;
  }
  header a:not(#logo)::after {
    width: initial;
    left: initial;
  }
}

@media only screen and (max-width: 540px) {
  header {
    -ms-grid-columns: 6fr 2fr 2fr;
        grid-template-columns: 6fr 2fr 2fr;
        grid-template-areas: "logo . settings" "about about about" "register register register" "login login login" "dropdown dropdown dropdown";
    -ms-grid-rows: 9vh auto auto auto auto;
        grid-template-rows: 9vh auto auto auto auto;
    height: 100%;
  }
  header #logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  header #about {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: about;
  }
  header #register {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: register;
  }
  header #login {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: login;
  }
  header #settingicon {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: settings;
  }
  header #icons {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: dropdown;
  }
  header a#logo::after {
    width: calc(4 / 10 * 100vw);
    top: 9.45vh;
  }
  header a:not(#logo)::after {
    width: 30vw;
    left: 35vw;
    position: absolute;
    bottom: -0.25vh;
  }
  header .container {
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    width: 30vw;
    border-top: 0.09vh solid rgba(153, 153, 153, 0.5);
  }
  header .container .label {
    font-size: 2.5vh;
  }
  header .container object {
    height: 2.5vh;
  }
  header #about,
  header #register,
  header #login {
    display: none;
    background-color: inherit;
    position: relative;
    left: 0;
    width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */