{% extends "layout.html" %} {% block head %}
<title>Action - Home</title>
<link rel="stylesheet" href="/static/index.css" />
<script type="text/javascript" src="/static/index.js"></script>
{% endblock %} {% block body %}
<div id="landing"></div>
<section id="intro">
    <div id="title">
        <h1 id="text1">Your task manager...</h1>
        <div id="carousel">
            <div id="mcircle1" class="mcircle"></div>
            <div id="circle1" class="circle">
                <span class="line1">Read 25</span>
                <span class="line2">pages</span>
                <span class="time">15m</span>
            </div>
            <div id="mcircle2" class="mcircle"></div>
            <div id="circle2" class="circle">
                <span class="line1">Run 5</span>
                <span class="line2">miles</span>
                <span class="time">20m</span>
            </div>
            <div id="mcircle3" class="mcircle"></div>
            <div id="circle3" class="circle">
                <span class="line1">Cook</span>
                <span class="line2">dinner</span>
                <span class="time">25m</span>
            </div>
            <div id="mcircle4" class="mcircle"></div>
            <div id="circle4" class="circle">
                <span class="line1">Walk</span>
                <span class="line2">the dog</span>
                <span class="time">20m</span>
            </div>
            <div id="mcircle5" class="mcircle"></div>
            <div id="circle5" class="circle">
                <span class="line1">Buy</span>
                <span class="line2">groceries</span>
                <span class="time">15m</span>
            </div>
            <div id="mcircle6" class="mcircle"></div>
        </div>
        <h1 id="text2">...reinvented.</h1>
    </div>
    <a id="arrow" href="#explanation">
        <object
            id="down"
            type="image/svg+xml"
            data="/static/chevron-down-solid.svg"
            >&#8595;</object
        >
    </a>
</section>
<section id="explanation">
    <div id="lifegoals"></div>
    <div id="branch1"></div>
    <div id="task1"></div>
    <div id="task2"></div>
    <div id="task3"></div>
    <div id="task4"></div>
    <div id="merged"></div>
    <div id="branch2"></div>
    <div id="task5"></div>
    <div id="task6"></div>
</section>
<section id="benefit">
    <div id="focus"></div>
    <div id="previous"></div>
    <div id="task"></div>
    <div id="next"></div>
</section>
<section id="join">
    <div id="message"></div>
    <div id="register"></div>
    <div id="or"></div>
    <div id="login"></div>
</section>

{% endblock %}
