{% extends "layout.html" %} {% block head %}
<title>Action - Login</title>
<link rel="stylesheet" href="/static/login/login.css" />
{% endblock %} {% block body %}
<div>
    <h1>Login</h1>
    <form action="/login" method="POST">
        {% if error %}
        <div id="error">
            <span>Invalid credentials</span>
        </div>
        {% endif %}
        <div id="username">
            <input type="username" name="username" autofocus="" required />
            <label for="username">
                <span>Username</span>
            </label>
        </div>
        <div id="password">
            <input type="password" name="password" autofocus="" required />
            <label for="password">
                <span>Password</span>
            </label>
        </div>
        <div id="remember">
            <input type="checkbox" name="remember" autofocus="" />
            <label for="remember" id="checkboxLabel">
                <span id="checkboxSpan">Remember me:</span>
            </label>
        </div>
        <div id="submit">
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
{% endblock %}