{% extends "layout.html" %} {% block head %}
<title>Action - Register</title>
<link rel="stylesheet" href="/static/register/register.css" />
{% endblock %} {% block body %}
<div>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div id="username">
            <input type="username" name="username" autofocus="" required />
            <label for="username">
                <span>Username</span>
            </label>
        </div>
        <div id="email">
            <input type="text" name="email" autofocus="" required />
            <label for="email">
                <span>Email</span>
            </label>
        </div>
        <div id="password">
            <input type="password" name="password" autofocus="" required />
            <label for="password">
                <span>Password</span>
            </label>
        </div>
        <div id="password-confirmation">
            <input type="password" name="confirmpassword" autofocus="" required />
            <label for="confirmpassword">
                <span>Confirm password</span>
            </label>
        </div>
        <div id="submit">
            <button type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock %}