body {
  overflow-y: hidden;
}

main {
  background-color: inherit;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "intro" "explanation" "benefit" "join";
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 107vh 116vh 116vh 95vh;
      grid-template-rows: 107vh 116vh 116vh 95vh;
}

main #landing {
  position: absolute;
  z-index: 3;
  background-color: inherit;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  top: 0;
  left: 0;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

main #intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: intro;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . ." ". title ." ". arrow ." ". . .";
  -ms-grid-columns: 2fr 14fr 2fr;
      grid-template-columns: 2fr 14fr 2fr;
  -ms-grid-rows: 6fr 75fr 10fr 16fr;
      grid-template-rows: 6fr 75fr 10fr 16fr;
  color: inherit;
}

main #intro #title {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: title;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "text1 text1 text1 text1 text1" "carousel carousel carousel carousel carousel" "text2 text2 text2 text2 text2";
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  color: inherit;
}

main #intro #title h1 {
  pointer-events: none;
  -webkit-transition: opacity 3000ms ease-out, -webkit-transform 1500ms ease-out;
  transition: opacity 3000ms ease-out, -webkit-transform 1500ms ease-out;
  transition: transform 1500ms ease-out, opacity 3000ms ease-out;
  transition: transform 1500ms ease-out, opacity 3000ms ease-out, -webkit-transform 1500ms ease-out;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main #intro #title #carousel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: carousel;
  display: -ms-inline-grid;
  display: inline-grid;
      grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3 circle3 mcircle4 circle4 mcircle5";
  -ms-grid-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-in, -webkit-transform 1s ease-out;
  transition: transform 1s ease-out, opacity 1s ease-in;
  transition: transform 1s ease-out, opacity 1s ease-in, -webkit-transform 1s ease-out;
}

main #intro #title #carousel .circle {
  height: 22.5vh;
  width: 22.5vh;
  border: 2px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main #intro #title #carousel .circle:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

main #intro #title #carousel .circle span {
  font-size: 4vh;
  opacity: 0.75;
}

main #intro #title #carousel .circle .time {
  font-size: 2.5vh;
  opacity: 0.5;
}

main #intro #title #carousel .circle#circle1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: circle1;
}

main #intro #title #carousel .circle#circle2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: circle2;
}

main #intro #title #carousel .circle#circle3 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: circle3;
}

main #intro #title #carousel .circle#circle4 {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: circle4;
}

main #intro #title #carousel .circle#circle5 {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: circle4;
  -webkit-transform: translateX(calc((14 / 18) * (6 / 25) * 100vw)) scale(0.1);
          transform: translateX(calc((14 / 18) * (6 / 25) * 100vw)) scale(0.1);
  opacity: 0;
  display: none;
}

main #intro #title #carousel .mcircle {
  height: 2vh;
  width: 2vh;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-transition: opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

main #intro #title #carousel .mcircle#mcircle1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mcircle1;
}

main #intro #title #carousel .mcircle#mcircle2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: mcircle2;
}

main #intro #title #carousel .mcircle#mcircle3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: mcircle3;
}

main #intro #title #carousel .mcircle#mcircle4 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: mcircle4;
}

main #intro #title #carousel .mcircle#mcircle5 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: mcircle5;
}

main #intro #title #carousel .mcircle#mcircle6 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: mcircle5;
  -webkit-transform: translateX(calc((14 / 18) * (6 / 25) * 100vw)) scale(0.1);
          transform: translateX(calc((14 / 18) * (6 / 25) * 100vw)) scale(0.1);
  opacity: 0;
  display: none;
}

main #intro #title #text1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: text1;
  -webkit-transform: translateX(15vw);
          transform: translateX(15vw);
}

main #intro #title #text2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: text2;
  -ms-grid-column-align: right;
      justify-self: right;
}

main #intro #arrow {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: arrow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 25%;
  height: 10vh;
}

main #intro #arrow:hover #down {
  -webkit-transform: translateY(0.75vh);
          transform: translateY(0.75vh);
  opacity: 1 !important;
}

main #intro #arrow #down {
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transform: translateY(-0.25vh);
          transform: translateY(-0.25vh);
  opacity: 0;
  height: 5vh;
  pointer-events: none;
}

@media only screen and (min-width: 768px) and (max-width: 1068px) {
  main #intro #title #carousel {
        grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3 circle3 mcircle4";
    -ms-grid-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
  }
  main #intro #title #carousel .circle#circle1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: circle1;
  }
  main #intro #title #carousel .circle#circle2 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: circle2;
  }
  main #intro #title #carousel .circle#circle3 {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: circle3;
  }
  main #intro #title #carousel .circle#circle4 {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: circle3;
    -webkit-transform: translateX(calc((14 / 18) * (6 / 19) * 100vw)) scale(0.1);
            transform: translateX(calc((14 / 18) * (6 / 19) * 100vw)) scale(0.1);
    opacity: 0;
    display: none;
  }
  main #intro #title #carousel .circle#circle5 {
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: mcircle1;
  }
  main #intro #title #carousel .mcircle#mcircle2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: mcircle2;
  }
  main #intro #title #carousel .mcircle#mcircle3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: mcircle3;
  }
  main #intro #title #carousel .mcircle#mcircle4 {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    grid-area: mcircle4;
  }
  main #intro #title #carousel .mcircle#mcircle5 {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    grid-area: mcircle4;
    -webkit-transform: translateX(calc((14 / 18) * (6 / 19) * 100vw)) scale(0.1);
            transform: translateX(calc((14 / 18) * (6 / 19) * 100vw)) scale(0.1);
    opacity: 0;
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle6 {
    display: none;
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  main #intro #title #carousel {
        grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3";
    -ms-grid-columns: 1fr 5fr 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
  }
  main #intro #title #carousel .circle#circle1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: circle1;
  }
  main #intro #title #carousel .circle#circle2 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: circle2;
  }
  main #intro #title #carousel .circle#circle3 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: circle2;
    -webkit-transform: translateX(calc((14 / 18) * (6 / 13) * 100vw)) scale(0.1);
            transform: translateX(calc((14 / 18) * (6 / 13) * 100vw)) scale(0.1);
    opacity: 0;
    display: none;
  }
  main #intro #title #carousel .circle#circle4 {
    display: none;
  }
  main #intro #title #carousel .circle#circle5 {
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: mcircle1;
  }
  main #intro #title #carousel .mcircle#mcircle2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: mcircle2;
  }
  main #intro #title #carousel .mcircle#mcircle3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: mcircle3;
  }
  main #intro #title #carousel .mcircle#mcircle4 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: mcircle3;
    -webkit-transform: translateX(calc((14 / 18) * (6 / 13) * 100vw)) scale(0.1);
            transform: translateX(calc((14 / 18) * (6 / 13) * 100vw)) scale(0.1);
    opacity: 0;
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle5 {
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle6 {
    display: none;
  }
}

@media only screen and (max-width: 539px) {
  main #intro #title #carousel {
        grid-template-areas: "mcircle1 circle1 mcircle2";
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
  }
  main #intro #title #carousel .circle#circle1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: circle1;
  }
  main #intro #title #carousel .circle#circle2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: circle1;
    -webkit-transform: translateX(calc((14 / 18) * (6 / 7) * 100vw)) scale(0.1);
            transform: translateX(calc((14 / 18) * (6 / 7) * 100vw)) scale(0.1);
    opacity: 0;
    display: none;
  }
  main #intro #title #carousel .circle#circle3 {
    display: none;
  }
  main #intro #title #carousel .circle#circle4 {
    display: none;
  }
  main #intro #title #carousel .circle#circle5 {
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: mcircle1;
  }
  main #intro #title #carousel .mcircle#mcircle2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: mcircle2;
  }
  main #intro #title #carousel .mcircle#mcircle3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: mcircle2;
    -webkit-transform: translateX(calc((14 / 18) * (6 / 7) * 100vw)) scale(0.1);
            transform: translateX(calc((14 / 18) * (6 / 7) * 100vw)) scale(0.1);
    opacity: 0;
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle4 {
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle5 {
    display: none;
  }
  main #intro #title #carousel .mcircle#mcircle6 {
    display: none;
  }
}

main #explanation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: explanation;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . . . . . . . . . ." ". . . lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals . . ." ". branch1 branch1 branch1 branch1 task1 task1 task1 mini1 task2 task2 task2 ." ". merged merged merged merged branch2 branch2 branch2 branch2 task5 task5 task5 ." ". . . . . . . . . . . . .";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 9fr 11fr 40fr 40fr 16fr;
      grid-template-rows: 9fr 11fr 40fr 40fr 16fr;
}

main #explanation #lifegoals {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-area: lifegoals;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #explanation #lifegoals h1 {
  vertical-align: middle;
  opacity: .75;
  margin: 0;
  padding: 0;
}

main #explanation .branch,
main #explanation .task,
main #explanation #mini1,
main #explanation #merged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #explanation .branch div,
main #explanation .task div,
main #explanation #mini1 div,
main #explanation #merged div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .75;
}

main #explanation .line1, main #explanation .line2 {
  opacity: 0.75;
  padding: 0;
  margin: 0;
}

main #explanation .time {
  opacity: 0.5;
  padding: 2.5%;
  margin: 0;
}

main #explanation .branch > div {
  border-radius: 10%;
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #explanation .branch > div > p.line1 {
  padding-right: 8px !important;
}

main #explanation .branch > div > p.line1, main #explanation .branch > div > p.line2 {
  font-size: 2.25em;
  padding: 0;
  margin: 0;
}

main #explanation .branch > div > p.time {
  padding-left: 20px;
  padding-right: 20px;
}

main #explanation .task > div {
  border-radius: 50%;
  height: 22.5vh;
  width: 22.5vh;
}

main #explanation .task > div > p.line1, main #explanation .task > div > p.line2 {
  font-size: 1.5em;
}

main #explanation #branch1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: branch1;
}

main #explanation #task1 {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: task1;
}

main #explanation #task2 {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: task2;
}

main #explanation #mini1 {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
  grid-area: mini1;
}

main #explanation #mini1 > div {
  height: 2vh;
  width: 2vh;
  border: 2px solid black;
  border-radius: 50%;
}

main #explanation #merged {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: merged;
}

main #explanation #branch2 {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-area: branch2;
}

main #explanation #task3 {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: task5;
}

@media only screen and (min-width: 540px) and (max-width: 1068px) {
  main #explanation {
        grid-template-areas: ". . . . . . . . . . . . ." ". lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals ." ". branch1 branch1 branch1 branch1 branch1 branch1 task1 task1 task1 mini1 mini1 ." ". merged merged merged merged merged branch2 branch2 branch2 branch2 branch2 branch2 ." ". . . . . . . . . . . . .";
  }
  main #explanation #task2, main #explanation #task3 {
    display: none;
  }
}

@media only screen and (max-width: 539px) {
  main #explanation {
        grid-template-areas: ". . . . . . . . . . . . ." ". lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals ." ". branch1 branch1 branch1 branch1 branch1 branch1 branch1 task1 task1 task1 task1 ." ". merged merged merged merged merged merged merged merged . . . ." ". . . . . . . . . . . . .";
    -ms-grid-rows: 9fr 11fr 60fr 20fr 16fr;
        grid-template-rows: 9fr 11fr 60fr 20fr 16fr;
  }
  main #explanation #branch1 {
    height: 70%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main #explanation #task2, main #explanation #task3, main #explanation #mini1, main #explanation #branch2 {
    display: none;
  }
}

main #benefit {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: benefit;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . . . ." ". . . focus . . ." ". previous . task . next ." ". . . . . . .";
  -ms-grid-columns: 1fr 2fr 1fr 12fr 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr 12fr 1fr 2fr 1fr;
  -ms-grid-rows: 9fr 11fr 80fr 16fr;
      grid-template-rows: 9fr 11fr 80fr 16fr;
}

main #benefit #focus {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: focus;
}

main #benefit #focus h1 {
  padding: 0;
  margin: 0;
}

main #benefit #previous {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: previous;
}

main #benefit * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #benefit *:not(#focus) {
  opacity: .75;
}

main #benefit .circle {
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #benefit .mcircle {
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
}

main #benefit .line1, main #benefit .line2 {
  font-size: 4em;
  padding: 0;
  margin: 0;
}

main #benefit .time {
  opacity: 0.5;
  font-size: 2em;
  padding: 2.5%;
  margin: 0;
}

main #benefit #task {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: task;
}

main #benefit #next {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: next;
}

@media only screen and (max-width: 539px) {
  main #benefit .circle {
    height: 50vh;
    width: 50vh;
  }
  main #benefit .line1, main #benefit .line2 {
    font-size: 3em;
  }
  main #benefit .time {
    font-size: 1.5em;
  }
}

main #join {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: join;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . ." ". message message message ." ". register or login ." ". . . . .";
  -ms-grid-columns: 1fr 4fr 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  -ms-grid-rows: 9fr 11fr 70fr 5fr;
      grid-template-rows: 9fr 11fr 70fr 5fr;
}

main #join * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .75;
}

main #join * *:not(#message) {
  -webkit-transition: opacity 100ms ease-in, -webkit-transform 200ms ease;
  transition: opacity 100ms ease-in, -webkit-transform 200ms ease;
  transition: opacity 100ms ease-in, transform 200ms ease;
  transition: opacity 100ms ease-in, transform 200ms ease, -webkit-transform 200ms ease;
  font-size: 2em;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
}

main #join * *:not(#message) * {
  width: 100%;
  height: 100%;
  opacity: 1;
}

main #join * *:not(#message).circle {
  height: 40vh;
  width: 40vh;
}

main #join * *:not(#message).circle:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main #join * *:not(#message).circle:hover * {
  opacity: 1;
}

main #join #message {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: message;
}

main #join #register {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: register;
}

main #join #or {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: or;
}

main #join #or p {
  font-size: 4em;
  opacity: 0.75;
}

main #join #login {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: login;
}

@media only screen and (max-width: 767px) and (min-width: 539px) {
  main #join .circle {
    height: 30vh !important;
    width: 30vh !important;
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 539px) {
  main #join {
        grid-template-areas: ". . . . ." ". message message message ." ". register register register ." ". . or . ." ". login login login ." ". . . . .";
    -ms-grid-columns: 1fr 4fr 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    -ms-grid-rows: 9fr 11fr 30fr 10fr 30fr 5fr;
        grid-template-rows: 9fr 11fr 30fr 10fr 30fr 5fr;
  }
  main #join .circle {
    height: 25vh !important;
    width: 25vh !important;
    font-size: 1em !important;
  }
  main #join #or {
    padding: 0;
    margin: 0;
  }
  main #join #or p {
    font-size: 3em !important;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
  }
  main #join .mircle {
    height: 25vh !important;
    width: 25vh !important;
    font-size: 1em !important;
  }
}
/*# sourceMappingURL=index.css.map */