body {
  overflow-y: hidden;
}
main {
  background-color: inherit;
  #landing {
    position: absolute;
    z-index: 3;
    background-color: inherit;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    top: 0;
    left: 0;
    transition: opacity 500ms ease-in;
  }
  display: grid;
  grid-template-areas:
    "intro"
    "explanation"
    "benefit"
    "join";
  grid-template-columns: 100vw;
  grid-template-rows: 107vh 116vh 116vh 95vh;
  #intro {
    grid-area: intro;
    display: grid;
    grid-template-areas:
      ". . ."
      ". title ."
      ". arrow ."
      ". . .";
    grid-template-columns: 2fr 14fr 2fr;
    grid-template-rows: 6fr 75fr 10fr 16fr;
    color: inherit;
    #title {
      grid-area: title;
      display: grid;
      grid-template-areas:
        "text1 text1 text1 text1 text1"
        "carousel carousel carousel carousel carousel"
        "text2 text2 text2 text2 text2";
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 2fr 1fr;
      color: inherit;
      h1 {
        pointer-events: none;
        transition: transform 1500ms ease-out, opacity 3000ms ease-out;
        vertical-align: middle;
        text-align: center;
        opacity: 0;
        color: inherit;
        width: fit-content;
      }
      #carousel {
        grid-area: carousel;
        display: inline-grid;
        grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3 circle3 mcircle4 circle4 mcircle5";
        grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        padding: 0;
        opacity: 0;
        transition: transform 1s ease-out, opacity 1s ease-in;
        .circle {
          height: 22.5vh;
          width: 22.5vh;
          border: 2px solid black;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
          transform: translateX(0);
          &:hover {
            transform: scale(1.075);
          }
          span {
            font-size: 4vh;
            opacity: 0.75;
          }
          .time {
            font-size: 2.5vh;
            opacity: 0.5;
          }
          &#circle1 {
            grid-area: circle1;
          }
          &#circle2 {
            grid-area: circle2;
          }
          &#circle3 {
            grid-area: circle3;
          }
          &#circle4 {
            grid-area: circle4;
          }
          &#circle5 {
            grid-area: circle4;
            transform: translateX(calc((14 / 18) * (6 / 25) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
        }
        .mcircle {
          height: 2vh;
          width: 2vh;
          border: 2px solid black;
          border-radius: 50%;
          transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
          &#mcircle1 {
            grid-area: mcircle1;
          }
          &#mcircle2 {
            grid-area: mcircle2;
          }
          &#mcircle3 {
            grid-area: mcircle3;
          }
          &#mcircle4 {
            grid-area: mcircle4;
          }
          &#mcircle5 {
            grid-area: mcircle5;
          }
          &#mcircle6 {
            grid-area: mcircle5;
            transform: translateX(calc((14 / 18) * (6 / 25) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
        }
      }
      #text1 {
        grid-area: text1;
        transform: translateX(15vw);
      }
      #text2 {
        grid-area: text2;
        justify-self: right;
      }
    }
    #arrow {
      grid-area: arrow;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      justify-self: center;
      align-self: center;
      width: 25%;
      height: 10vh;
      &:hover {
        #down {
          transform: translateY(0.75vh);
          opacity: 1 !important;
        }
      }
      #down {
        transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
        transform: translateY(-0.25vh);
        opacity: 0;
        height: 5vh;
        pointer-events: none;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1068px) {
      #title #carousel {
        grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3 circle3 mcircle4";
        grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
        .circle {
          &#circle1 {
            grid-area: circle1;
          }
          &#circle2 {
            grid-area: circle2;
          }
          &#circle3 {
            grid-area: circle3;
          }
          &#circle4 {
            grid-area: circle3;
            transform: translateX(calc((14 / 18) * (6 / 19) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
          &#circle5 {
            display: none;
          }
        }
        .mcircle {
          &#mcircle1 {
            grid-area: mcircle1;
          }
          &#mcircle2 {
            grid-area: mcircle2;
          }
          &#mcircle3 {
            grid-area: mcircle3;
          }
          &#mcircle4 {
            grid-area: mcircle4;
          }
          &#mcircle5 {
            grid-area: mcircle4;
            transform: translateX(calc((14 / 18) * (6 / 19) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
          &#mcircle6 {
            display: none;
          }
        }
      }
    }
    @media only screen and (min-width: 540px) and (max-width: 767px) {
      #title #carousel {
        grid-template-areas: "mcircle1 circle1 mcircle2 circle2 mcircle3";
        grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
        .circle {
          &#circle1 {
            grid-area: circle1;
          }
          &#circle2 {
            grid-area: circle2;
          }
          &#circle3 {
            grid-area: circle2;
            transform: translateX(calc((14 / 18) * (6 / 13) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
          &#circle4 {
            display: none;
          }
          &#circle5 {
            display: none;
          }
        }
        .mcircle {
          &#mcircle1 {
            grid-area: mcircle1;
          }
          &#mcircle2 {
            grid-area: mcircle2;
          }
          &#mcircle3 {
            grid-area: mcircle3;
          }
          &#mcircle4 {
            grid-area: mcircle3;
            transform: translateX(calc((14 / 18) * (6 / 13) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
          &#mcircle5 {
            display: none;
          }
          &#mcircle6 {
            display: none;
          }
        }
      }
    }
    @media only screen and (max-width: 539px) {
      #title #carousel {
        grid-template-areas: "mcircle1 circle1 mcircle2";
        grid-template-columns: 1fr 5fr 1fr;
        .circle {
          &#circle1 {
            grid-area: circle1;
          }
          &#circle2 {
            grid-area: circle1;
            transform: translateX(calc((14 / 18) * (6 / 7) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
          &#circle3 {
            display: none;
          }
          &#circle4 {
            display: none;
          }
          &#circle5 {
            display: none;
          }
        }
        .mcircle {
          &#mcircle1 {
            grid-area: mcircle1;
          }
          &#mcircle2 {
            grid-area: mcircle2;
          }
          &#mcircle3 {
            grid-area: mcircle2;
            transform: translateX(calc((14 / 18) * (6 / 7) * 100vw)) scale(0.1);
            opacity: 0;
            display: none;
          }
          &#mcircle4 {
            display: none;
          }
          &#mcircle5 {
            display: none;
          }
          &#mcircle6 {
            display: none;
          }
        }
      }
    }
  }
  #explanation {
    grid-area: explanation;
    display: grid;
    grid-template-areas:
      ". . . . . . . . . . . . ."
      ". . . lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals . . ."
      ". branch1 branch1 branch1 branch1 task1 task1 task1 mini1 task2 task2 task2 ."
      ". merged merged merged merged branch2 branch2 branch2 branch2 task5 task5 task5 ."
      ". . . . . . . . . . . . .";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 9fr 11fr 40fr 40fr 16fr;
    #lifegoals {
      grid-area: lifegoals;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        vertical-align: middle;
        opacity: .75;
        margin: 0;
        padding: 0;
      }
    }
    .branch,
    .task,
    #mini1,
    #merged {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: .75;
      }
    }
    .line1, .line2 {
      opacity: 0.75;
      padding: 0;
      margin: 0;
    }
    .time {
      opacity: 0.5;
      padding: 2.5%;
      margin: 0;
    }
    .branch > div {
      border-radius: 10%;
      height: 80%;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      > p.line1 {
        padding-right: 8px !important;
      }
      > p.line1, > p.line2  {
        font-size: 2.25em;
        padding: 0;
        margin: 0;
      }
      > p.time {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .task > div {
      border-radius: 50%;
      height: 22.5vh;
      width: 22.5vh;
      > p.line1, > p.line2 {
        font-size: 1.5em;
      }
    }
    #branch1 {
      grid-area: branch1;
    }
    #task1 {
      grid-area: task1;
    }
    #task2 {
      grid-area: task2;
    }
    #mini1 {
      grid-area: mini1;
      > div {
        height: 2vh;
        width: 2vh;
        border: 2px solid black;
        border-radius: 50%;
      }
    }
    #merged {
      grid-area: merged;
    }
    #branch2 {
      grid-area: branch2;
    }
    #task3 {
      grid-area: task5;
    }
    @media only screen and (min-width: 540px) and (max-width: 1068px) {
      grid-template-areas:
      ". . . . . . . . . . . . ."
      ". lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals ."
      ". branch1 branch1 branch1 branch1 branch1 branch1 task1 task1 task1 mini1 mini1 ."
      ". merged merged merged merged merged branch2 branch2 branch2 branch2 branch2 branch2 ."
      ". . . . . . . . . . . . .";
      #task2, #task3 {
        display: none;
      }
    }
    @media only screen and (max-width: 539px) {
      grid-template-areas:
      ". . . . . . . . . . . . ."
      ". lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals lifegoals ."
      ". branch1 branch1 branch1 branch1 branch1 branch1 branch1 task1 task1 task1 task1 ."
      ". merged merged merged merged merged merged merged merged . . . ."
      ". . . . . . . . . . . . .";
      grid-template-rows: 9fr 11fr 60fr 20fr 16fr;
      #branch1 {
        height: 70%;
        align-self: center;
      }
      #task2, #task3, #mini1, #branch2 {
        display: none;
      }
    }
  }
  #benefit {
    grid-area: benefit;
    display: grid;
    grid-template-areas:
      ". . . . . . ."
      ". . . focus . . ."
      ". previous . task . next ."
      ". . . . . . .";
    grid-template-columns: 1fr 2fr 1fr 12fr 1fr 2fr 1fr;
    grid-template-rows: 9fr 11fr 80fr 16fr;
    #focus {
      grid-area: focus;
      h1 {
        padding: 0;
        margin: 0;
      }
    }
    #previous {
      grid-area: previous;
    }
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(#focus) {
        opacity: .75;
      }
    }
    .circle {
      height: 70vh;
      width: 70vh;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .mcircle {
      height: 2vh;
      width: 2vh;
      border-radius: 50%;
    }
    .line1, .line2 {
      font-size: 4em;
      padding: 0;
      margin: 0;
    }
    .time {
      opacity: 0.5;
      font-size: 2em;
      padding: 2.5%;
      margin: 0;
    }
    #task {
      grid-area: task;
    }
    #next {
      grid-area: next;
    }
    @media only screen and (max-width: 539px) {
      .circle {
        height: 50vh;
        width: 50vh;
      }
      .line1, .line2 {
        font-size: 3em;
      }
      .time {
        font-size: 1.5em;
      }
    }
  }
  #join {
    grid-area: join;
    display: grid;
    grid-template-areas:
      ". . . . ."
      ". message message message ."
      ". register or login ."
      ". . . . .";
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: 9fr 11fr 70fr 5fr;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .75;

      *:not(#message) {
        transition: opacity 100ms ease-in, transform 200ms ease;
        font-size: 2em;
        * {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
        height: 15vh;
        width: 15vh;
        &.circle {
          height: 40vh;
          width: 40vh;
          &:hover {
            cursor: pointer;
            opacity: 1;
            * {
              opacity: 1;
            }
            transform: scale(1.05);
          }
        }
        border-radius: 50%;
      }
    }
    #message {
      grid-area: message;
    }
    #register {
      grid-area: register;
    }
    #or {
      grid-area: or;
      p {
        font-size: 4em;
        opacity: 0.75;
      }
    }
    #login {
      grid-area: login;
    }
    @media only screen and (max-width: 767px) and (min-width: 539px) {
      .circle {
        height: 30vh !important;
        width: 30vh!important;
        font-size: 1.5em !important;
      }
    }
    @media only screen and (max-width: 539px) {
      grid-template-areas:
      ". . . . ."
      ". message message message ."
      ". register register register ."
      ". . or . ."
      ". login login login ."
      ". . . . .";
      grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
      grid-template-rows: 9fr 11fr 30fr 10fr 30fr 5fr;
      .circle {
        height: 25vh !important;
        width: 25vh!important;
        font-size: 1em!important;
      }
      #or {
        padding: 0;
        margin: 0;
        p {
          font-size: 3em !important;
          padding: 0;
          margin: 0;
          height: auto;
          width: auto;
        }
      }
      .mircle {
        height: 25vh!important;
        width: 25vh!important;
        font-size: 1em!important;
      }
    }
  }
}
